/* Write your CSS here */
.planets-app-const {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  min-height: 100vh;
  padding: 40px;
}
.heading {
  font-size: 32px;
  color: #05acff;
  font-weight: 600;
  font-family: roboto;
}
